body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: azure;
}

.art-area {
    background-color: rgb(164, 164, 163);
    width: 1000px;
    height: 1000px;
}
.imagetype {
    border: 4mm ridge rgba(51, 119, 255, 0.6);
    width: 500px;
    height: 500px;
}
.picture {
    position: relative;

}