body {
    /*background-color: rgb(236, 236, 236);*/
}

h1 {
    color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 230%;
}

p {
    margin: 0px;
    font-size: 120%;
}
.body-wrapper {
    max-width: 2000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row-stack {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-content {
    width: 300px;
    background-color: #d1d1d1;
}

.center-content {
    width: 1000px;
    /*flex-grow: 1;*/
    background-image: url("/assets/cloudgif.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right-content {
    width: 600px;
    /*margin: 20px;*/
    display: flex;
    justify-content: center;
    background-color: #d1d1d1;
}

.vertical-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#grandma-profile {
    width: 240px;
    height: 240px;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-intext {
    display: flex;
    justify-content: center;
}
.art-area {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 1000px;
}

.profile-border {
    border-style: solid;
    border-color: rgb(115, 115, 115);
    border-width: 3px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}

.text-background {
    background-color: hsla(0, 100%, 100%, 0.5);
    margin: 50px;
    padding: 10px;
}
.image-links {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
}

.image-links2 {
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
}

.image-links3 {
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
}

.image-links4 {
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
}

.image-links5 {
    margin-left: 100px;
    margin-right: 100px;
    width: 200px;
}
/* .imagetype {
    border: 0mm ridge rgba(51, 119, 255, 0.6);
    width: 500px;
    height: 500px;
}
.picture {
    position: relative;

} */